
.rank-item.ellipsis {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    color: #000;
    justify-content: center;
}

.rank-item.highlight {
    background-color: rgb(169, 169, 255);
    color: white;
}

.rank-item.gold {
    background-color: gold;
    color: black;
}

.rank-item.silver {
    background-color: silver;
    color: black;
}

.rank-item.bronze {
    background-color: #cd7f32; /* Bronze color */
    color: black;
}


.resultados {
    text-align: center;
    background-color: #3c3c44;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
    color: #ffd900;
}

.resultados h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.resultados p {
    font-size: 1.2em;
    margin: 10px 0;
}

.message-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #660000;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 800px;
    height: 68px;

}

.message-box.success {
    background-color: #153516da;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
}

.message-box.error {
    background-color: #ffcbcb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
}


body {
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.simulado {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
 
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item button {
  margin-right: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
}

.resultado {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.2em;
}

.resultado.certo {
  background-color: #4CAF50;
  color: white;
}

.resultado.errado {
  background-color: #F44336;
  color: white;
}

.mensagem-encerrado {
  color: white;
  font-size: 2em;
  text-align: center;
}

.resultados {
  text-align: center;
  background-color: #3c3c44;
  padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 10px 40px #00000056;
      color: #ffd900;
  }
  
  .resultados h2 {
      font-size: 2em;
      margin-bottom: 20px;
  }
  
  .resultados p {
      font-size: 1.2em;
      margin: 10px 0;
  }
  .main-cadastro {
      width: 99vw;
      height: 100vh;
      background: #222126;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .left-cadastro {
      width: 90vw;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 60px;
  }
  
  .left-cadastro > h1 {
      font-size: 3vw;
      font-weight: 700;
      color: #d6d4d7;
      margin-left: -30px;
  }
  
  span {
      color: #ffd900;
  }
  
  .left-cadastro-img {
      width: 40vw;
  }
  .gg{
    background-color: #ffd900;
}
  .right-cadastro {
      width: 50vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .card-cadastro {
      width: 60%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 30px 35px;
      background: #3c3c44;
      border-radius: 20px;
      box-shadow: 0px 10px 40px #00000056;
      margin-right: 140px;
      margin-left: -300px;
  }
  
  .card-cadastro > h1 {
      text-align: center;
      color: #ffd900;
      font-weight: 800;
      margin: 0;
  }
  
  .card-cadastro > h4 {
      font-weight: 300;
      font-size: 15px;
      text-align: center;
      color: #d0d0d0;
      margin: 0;
      margin-top: 30px;
  }
  
  .textfield {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 10px;
  }
  
  .textfield > input {
      width: 100%;
      border: none;
      border-radius: 10px;
      padding: 15px;
      background: #232126;
      color: #d0d0d0;
      font-size: 12pt;
      box-shadow: 0px 10px 40px #00000056;
      outline: none;
      box-sizing: border-box;
  }
  
  .textfield > label {
      color: #d0d0d0;
      margin-bottom: 10px;
  }
  
  .textfield > input::placeholder {
      color: #8c8c8d;
  }
  
  .bnt-cadastro,
  .bnt-login {
      width: 100%;
      padding: 16px 0px;
      margin: 10px;
      border: none;
      border: solid 1.6px #000;
      border-radius: 8px;
      outline: none;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 4px;
      color: #222126;
      background: #ffd900;
      cursor: pointer;
      box-shadow: 0px 10px 40px -12px #ffaa0052;
  }
  
  .text-registrar {
      color: #ffd900;
      cursor: pointer;
      text-decoration: none;
  }
  
  .pag {
      margin: 0px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .main-login {
      width: 100vw;
      height: 100vh;
      background: #222126;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .left-login {
      width: 90vw;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 60px;
  }
  
  .left-login > h1 {
      font-size: 3vw;
      font-weight: 700;
      color: #d6d4d7;
      margin-left: -30px;
  }
  
  .left-login-img {
      width: 30vw;
  }
  
  .right-login {
      width: 50vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .card-login {
      width: 60%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 30px 35px;
      background: #3c3c44;
      border-radius: 20px;
      box-shadow: 0px 10px 40px #00000056;
      margin-right: 140px;
      margin-left: -300px;
  }
  
  .card-login > h1 {
      text-align: center;
      color: #ffd900;
      font-weight: 800;
      margin: 0;
  }
  
  .card-login > h4 {
      font-weight: 300;
      font-size: 15px;
      text-align: center;
      color: #d0d0d0;
      margin: 0;
      margin-top: 30px;
  }
  